@font-face {
    font-family: "KyivRegion";
    src: url("../fonts/KyivRegion.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #472a06;
    color: #ce8600;
    font-family: "KyivRegion";
}

footer {
    padding-bottom: 300px;
}

header,
section,
footer {
    margin-top: 50px;
}